# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.2DGame.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\WorkSpace\Code\Unity\2DGame\.idea\.idea.2DGame\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
